@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Verify page</h1>

<div class="text-center">
    <a class="btn btn-primary" automation="button-checkout" asp-action="GetRedirectVerificationHref" asp-controller="Verify">
        Verify
    </a>
</div>