@model SwedbankPay.Sdk.Payments.CardPayments.CardPayment
@{
    ViewData["Title"] = "ViewList";
}

    <div>
        Here is the verificationList: @Model.VerifyResponse.Verifications.VerificationList



    </div>

<h1>ViewList</h1>

