@model SwedbankPay.Sdk.Payments.CardPayments.CardPayment
@{
    ViewData["Title"] = "ViewList";
}
    

<h1>ViewList</h1>
<div id="swedbank-pay-seamless-verificationList">
    Here is the verificationList: @Model.PaymentResponse.Verifications.VerificationList

</div>
