<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/SwedbankPay/index.json" />
    <add key="local" value="D:\Programmer\git\swedbank-pay-sdk-dotnet\nugets" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="swedbank-pay-sdk-dotnet.ghpr" />
      <add key="ClearTextPassword" value="15b5ca0f95c6dd392c06f31695e7c60f50daa6be" />
      </github>
  </packageSourceCredentials>
</configuration>