@model SwedbankPayCheckoutSource
@{
    var containerId = Guid.NewGuid();
}

<div id="swedbankpay-checkout">
    <div id="paymentMenuFrame">
        <div id="swedbankpay-paymentmenu-@containerId">

        </div>
    </div>
</div>


<script type="text/javascript">
	function onCheckoutLoaded(obj){
		console.log("Checkout loaded:");
		console.log(obj)
	}

	function onCheckoutResized(obj){
		console.log("Checkout resized:");
		console.log(obj)
	}
	
	function onError(obj){
		console.log("Error event:");
		console.log(obj)
	}
	
	function onOutOfViewRedirect(obj){
		console.log("Out of view redirect event:");
		console.log(obj)
		location.href = obj.redirectUrl;
	}
	
	function onAborted(obj){
		console.log("Aborted event:");
		console.log(obj)
	}
		
	function onPaymentAttemptAborted(obj){
		console.log("Payment attempt aborted event:");
		console.log(obj)
	}
	
	function onPaymentAttemptStarted(obj){
		console.log("Payment attempt started event:");
		console.log(obj)
	}
	
	function onPaid(obj){
		console.log("Paid:");
		console.log(obj)
		location.href = obj.redirectUrl;
	}
	
	function onPaymentAttemptFailed(obj){
		console.log("Payment attempt failed event:");
		console.log(obj)
	}
	
	function onInstrumentSelected(obj){
		console.log("Instrument selected event:");
		console.log(obj)
	}
	
	function onTermsOfServiceRequested(obj){
		console.log("Terms of service requested event:");
		console.log(obj)
		window.open(obj.termsOfServiceUrl, '_blank');
	}
	
	function onEventNotification(obj){
		console.log("Event notification:");
		console.log(obj)
	}
	
	let testStyle = 
	{
      button: {
        borderRadius: "8px",
        enabled: {
          backgroundColor: "#2F2424",
          color: "#FFFFFF",
          outline: "1px solid transparent",
          hover: {
            backgroundColor: "#72605E",
            color: "#FFFFFF"
          }
        },
        disabled: {
          backgroundColor: "#f50000",
          color: "#D4C4BC",
          outline: "1px solid transparent"
        }
      }
    };
	let paymentMenuConfig = {
		container: {
			checkout: 'swedbankpay-paymentmenu-@containerId',
		},
		culture: '@Model.Culture.Name',
		style: testStyle,
		onCheckoutLoaded: onCheckoutLoaded,
		onCheckoutResized: onCheckoutResized,
		onError: onError,
		onOutOfViewRedirect: onOutOfViewRedirect,
		onAborted: onAborted,
		onPaymentAttemptAborted: onPaymentAttemptAborted,
		onPaymentAttemptStarted: onPaymentAttemptStarted,
		onPaid: onPaid,
		onPaymentAttemptFailed: onPaymentAttemptFailed,
		onInstrumentSelected: onInstrumentSelected,
		onTermsOfServiceRequested: onTermsOfServiceRequested,
		onEventNotification: onEventNotification
	};
	
	let paymentMenuScriptTag = document.getElementById('paymentMenuScript');
	if (paymentMenuScriptTag !== null) {
		paymentMenuScriptTag.remove();
	}

	let script = document.createElement('script');
	script.setAttribute("id", "paymentMenuScript");
	script.onload = function () {
		console.log(paymentMenuConfig);
		payex.hostedView.checkout(paymentMenuConfig).open();
	};
	script.src = '@Model.JavascriptSource';
	document.getElementsByTagName('head')[0].appendChild(script);
</script>