@model SwedbankPayCheckoutSource
@{
    var containerId = Guid.NewGuid();
}

<div id="swedbankpay-checkout">
    <div id="paymentMenuFrame">
        <div id="swedbankpay-paymentmenu-@containerId">

        </div>
    </div>
</div>


<script type="text/javascript">
	function onCreatedPaymentHandler(paymentCreatedEvent) {
		console.log(paymentCreatedEvent);
	}
	function onPaymentCanceledHandler(paymentCanceledEvent) {
		console.log("Payment canceled");
		console.log(paymentCanceledEvent);
	}
	function onPaymentFailedHandler(paymentFailedEvent) {
		console.log("Ooopsy daisy");
		console.log(paymentFailedEvent);
	}
	function onPaymentCompletedHandler(paymentCompletedEvent) {
		console.log("Payment completed");
	}
	
	function onCheckoutLoaded(checkoutLoadedEvent){
		console.log("Checkout loaded");
	}
	
	function onCheckoutResized(checkoutResized){
		console.log("Checkout resized");
	}


	let testStyle = 
	{
      button: {
        borderRadius: "8px",
        enabled: {
          backgroundColor: "#2F2424",
          color: "#FFFFFF",
          outline: "1px solid transparent",
          hover: {
            backgroundColor: "#72605E",
            color: "#FFFFFF"
          }
        },
        disabled: {
          backgroundColor: "#f50000",
          color: "#D4C4BC",
          outline: "1px solid transparent"
        }
      }
    };
	let paymentMenuConfig = {
		container: {
			checkout: 'swedbankpay-paymentmenu-@containerId',
		},
		culture: '@Model.Culture.Name',
		style: testStyle,
		onPaymentCreated: onCreatedPaymentHandler,
		onPaymentFailed: onPaymentFailedHandler,
		onPaymentCanceled: onPaymentCanceledHandler
	};

	let paymentMenuScriptTag = document.getElementById('paymentMenuScript');
	if (paymentMenuScriptTag !== null) {
		paymentMenuScriptTag.remove();
	}

	let script = document.createElement('script');
	script.setAttribute("id", "paymentMenuScript");
	script.onload = function () {
		console.log(paymentMenuConfig);
		payex.hostedView.checkout(paymentMenuConfig).open();
	};
	script.src = '@Model.JavascriptSource';
	document.getElementsByTagName('head')[0].appendChild(script);
</script>