@{
    ViewData["Title"] = "Thankyou";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>

<div class="text-center">
    <a class="btn btn-primary" automation="button-checkout" asp-action="GetVerificationList" asp-controller="Verify">
        Get verificationList
    </a>
</div>