
@model SwedbankPayCheckoutSource

@{
    ViewData["Title"] = "Index";
}

<h1>SwedbankPay menu</h1>

@await Html.PartialAsync("_SwedbankPayCheckOut", Model)


@if(!String.IsNullOrEmpty(Model.AbortOperationLink)){
    <div class="row justify-content-center">
        <div class="col">
            <form asp-action="AbortPaymentOrder" asp-controller="Payment" method="post">
                <input type="hidden" name="LinkId"
                       value="@Model.AbortOperationLink"/>
                <button type="submit" class="btn btn-lg btn-danger" automation="button-abort">
                    Abort
                </button>
            </form>
        </div>
    </div>
}
