name: Create version number

on:
  workflow_call:
    outputs:
      NUGETVERSIONV2:
        description: "Nuget version"
        value: ${{ jobs.version.outputs.NUGETVERSIONV2 }} 

jobs:
  version:
    runs-on: ubuntu-latest
    outputs:
      NUGETVERSIONV2: ${{ steps.gitversion.outputs.NUGETVERSIONV2 }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   

      - name: Install GitVersion
        uses: gittools/actions/gitversion/setup@v3
        with:
          versionSpec: '5.x'
 
      - name: Use GitVersion
        id: gitversion # step id used as reference for output values
        uses: gittools/actions/gitversion/execute@v3